.view.product.formAddQuick {
	.productImages {
		form {
			ul.productPicList {
				padding: 1em;
				
				li {
					width: 24%;
					padding: 0.5%;
					float: left;
					
					img {
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
				
	@media screen and ( min-width: 850px ) {
		form {
			aside {
				float: left;
				width: 33.33%;
				padding-left: 1.618em;
			}
			section {
				float: left;
				width: 66.66%;
			}
		}
	}
}

				