@mixin tool\module\newsList() {

	h2 {
		a {
			color: inherit;
		}
	}

	ul {
		@include tool\list\noBullets;

		li {
			margin-bottom: $baseSpaceSmall;

			.created {
				font-size: .8em;
			}
		}
	}
}