/* compiled by scssphp v0.7.5 on Thu, 12 Sep 2019 16:35:01 +0200 (0.3193s) */

 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Roboto:300,300i,400,400i,700,700i');
 /**
 * Imports
 */
 /*!
 * ArgoLib
 */
 /**
 * Mixins
 */
.button--antiman { background: none; border: none; height: 60px }

.button--antiman.button--inverted, 
.button--antiman.button--inverted-alt { -webkit-transition: color 0.3s; transition: color 0.3s; -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1) }

.button--antiman > span { padding-left: 0.35em }

.button--antiman::before, 
.button--antiman::after { content: ''; z-index: -1; border-radius: inherit; pointer-events: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-backface-visibility: hidden; -webkit-transition: -webkit-transform 0.3s, opacity 0.3s; transition: transform 0.3s, opacity 0.3s; -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1) }

.button--antiman::before { border: 2px solid #37474f; opacity: 0; -webkit-transform: scale3d(1.2, 1.2, 1); transform: scale3d(1.2, 1.2, 1) }

.button--antiman.button--border-thin::before { border-width: 1px }

.button--antiman.button--inverted::before { border-color: #7986cb }

.button--antiman.button--inverted-alt::before { border-color: #3f51b5 }

.button--antiman::after { background: #fff }

.button--antiman.button--inverted::after { background: #7986cb }

.button--antiman.button--inverted-alt::after { background: #3f51b5 }

.button--antiman.button--inverted:hover { color: #7986cb }

.button--antiman.button--inverted-alt:hover { color: #3f51b5 }

.button--antiman:hover::before { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1) }

.button--antiman:hover::after { opacity: 0; -webkit-transform: scale3d(0.8, 0.8, 1); transform: scale3d(0.8, 0.8, 1) }

@font-face { font-family: 'FontAwesome'; src: url("/css/templates/default/library/fontAwesome/fontawesome-webfont.eot?v=4.5.0"); src: url("/css/templates/default/library/fontAwesome/fontawesome-webfont.eot?#iefix&v=4.5.0") format('embedded-opentype'), url("/css/templates/default/library/fontAwesome/fontawesome-webfont.woff2?v=4.5.0") format('woff2'), url("/css/templates/default/library/fontAwesome/fontawesome-webfont.woff2?v=4.5.0") format('woff'), url("/css/templates/default/library/fontAwesome/fontawesome-webfont.ttf?v=4.5.0") format('truetype'), url("/css/templates/default/library/fontAwesome/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format('svg'); font-weight: normal; font-style: normal; }
 /**
 * Scss palette file
 */
 /**
 * Palette colors
 */
 /**
 * Default colors
 */
 /**
 * Christmas colors
 */
 /**
 * Color variables
 */
 /**
 * Import extensions
 */
 /**
 *
 * Scss file for all extensions
 *
 */
 /**
 *
 * Generic responsive stylesheet
 * - For specific, like ex. navigation: see _navigation.scss
 *
 */
@media screen and (max-width: 1068px) {#wrapper header > .container { border-right: none }
#wrapper header > .container .panel { display: none }
.view.user.panelLinks ul { width: auto }
.view.user.panelLinks ul li { display: block; margin-bottom: 0.8em }
.view.auction.list .toolbar .tool .auctionType { margin: 0 auto; text-align: center; max-width: 100% }
.view.auction.list .toolbar .tool .auctionType ul li:first-child { padding-bottom: 0.4em }
.view.auction.list .toolbar .tool .auctionType ul li:last-child { padding-top: 0.35em } }

@media screen and (max-width: 101.25em) { }

@media screen and (max-width: 1280px) {#wrapper #notificationRow { font-size: 65%; padding: 1em 0 }
.view { /**
 * Generic
 */ }
.view.auction .toolbar { flex-wrap: wrap-reverse }
.view.auction .toolbar .tool { width: 100% !important; margin-bottom: 1em }
.view.auction .toolbar .tool:last-child { display: none }
.view.auction.searchForm { padding: 1em 0 0 0 }
.view.auction.searchForm form.searchForm .field input { padding: 0.5em 1em; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px; border-top-left-radius: 20px }
.view.auction.list .container .innerContainer { grid-template-columns: 33% 33% 33% }
.view.auction.itemList .listWrapper .items .itemEntry .imageContainer, 
.view.auction.hotItemList .listWrapper .items .itemEntry .imageContainer { margin-bottom: 0.8em }
.view.auction.itemList .listWrapper .items .itemEntry .imageContainer .image a, 
.view.auction.hotItemList .listWrapper .items .itemEntry .imageContainer .image a { display: block; min-width: 13.7em }
.view.auction.itemList .listWrapper .items .itemEntry .imageContainer .image a img, 
.view.auction.hotItemList .listWrapper .items .itemEntry .imageContainer .image a img { max-height: inherit }
.view.auction.itemList .listWrapper .items .itemEntry .information, 
.view.auction.hotItemList .listWrapper .items .itemEntry .information { flex: unset; font-size: inherit; padding: 0 }
.view.auction.itemList .listWrapper .items .itemEntry .information .data, 
.view.auction.hotItemList .listWrapper .items .itemEntry .information .data { font-size: 0.855em } }

@media screen and (max-width: 960px) {#wrapper footer .container.top .container .navBottom { display: none }
#wrapper footer .container.bottom .container { padding-top: 1em }
#wrapper footer .container.bottom .container .navBottom { display: block; list-style: none }
#wrapper footer .container.bottom .container .navBottom li { text-align: center; line-height: 2em }
#wrapper footer .container.bottom .container .navBottom li a { text-transform: uppercase; color: #707070 }
#wrapper footer .container.bottom .container > table { width: 100% !important }
.view.auction.list .container .innerContainer { grid-template-columns: 50% 50% } }

@media screen and (max-width: 768px) {.view.auction.list .container .auction .image { float: none; width: 100% }
.view.auction.list .container .auction .information { float: none; width: 100%; max-width: none; padding: 0.5em 0.5em 0 0 }
.view.auction.userItemBidList .listWrapper > ul.items > li, 
.view.auction.userWonItemList .listWrapper > ul.items > li, 
.view.auction.userItemFavList .listWrapper > ul.items > li, 
.view.auction.itemList .listWrapper > ul.items > li, 
.view.auction.hotItemList .listWrapper > ul.items > li { border: none; border-bottom: 1px solid #dfdfdf; flex-wrap: wrap }
.view.auction.userItemBidList .listWrapper > ul.items > li .imageContainer, 
.view.auction.userWonItemList .listWrapper > ul.items > li .imageContainer, 
.view.auction.userItemFavList .listWrapper > ul.items > li .imageContainer, 
.view.auction.itemList .listWrapper > ul.items > li .imageContainer, 
.view.auction.hotItemList .listWrapper > ul.items > li .imageContainer { flex: 1 30% }
.view.auction.userItemBidList .listWrapper > ul.items > li .information, 
.view.auction.userWonItemList .listWrapper > ul.items > li .information, 
.view.auction.userItemFavList .listWrapper > ul.items > li .information, 
.view.auction.itemList .listWrapper > ul.items > li .information, 
.view.auction.hotItemList .listWrapper > ul.items > li .information { flex: 1 69%; font-size: 80% }
.view.auction.userItemBidList .listWrapper > ul.items > li .information .location, 
.view.auction.userWonItemList .listWrapper > ul.items > li .information .location, 
.view.auction.userItemFavList .listWrapper > ul.items > li .information .location, 
.view.auction.itemList .listWrapper > ul.items > li .information .location, 
.view.auction.hotItemList .listWrapper > ul.items > li .information .location { padding-top: 0.3em }
.view.auction.userItemBidList .listWrapper > ul.items > li .information .data, 
.view.auction.userWonItemList .listWrapper > ul.items > li .information .data, 
.view.auction.userItemFavList .listWrapper > ul.items > li .information .data, 
.view.auction.itemList .listWrapper > ul.items > li .information .data, 
.view.auction.hotItemList .listWrapper > ul.items > li .information .data { font-size: 1.1em }
.view.auction.userItemBidList .listWrapper > ul.items > li .information .links, 
.view.auction.userWonItemList .listWrapper > ul.items > li .information .links, 
.view.auction.userItemFavList .listWrapper > ul.items > li .information .links, 
.view.auction.itemList .listWrapper > ul.items > li .information .links, 
.view.auction.hotItemList .listWrapper > ul.items > li .information .links { display: none }
.view.auction.userItemBidList .listWrapper > ul.items > li > .itemFavorite, 
.view.auction.userWonItemList .listWrapper > ul.items > li > .itemFavorite, 
.view.auction.userItemFavList .listWrapper > ul.items > li > .itemFavorite, 
.view.auction.itemList .listWrapper > ul.items > li > .itemFavorite, 
.view.auction.hotItemList .listWrapper > ul.items > li > .itemFavorite { display: none }
.view.auction.itemShow.display .grid { display: flex; flex-direction: column-reverse }
.view.auction.itemShow.display .grid .col.first { flex: 0 0 auto }
.view.auction.itemShow.display .grid .col.last { flex: 0 0 auto }
.view.auction.itemShow.display .grid .col.last .row.first { padding: 0 }
.view.auction.itemShow.display .grid .col.last .row.last { padding: 2em 0 0 0 } }

@media screen and (max-width: 640px) {.view.guestFormLogin { width: 100%; box-sizing: border-box }
.view.auction.list .container .innerContainer { grid-template-columns: 100% }
.view.auction.list .container .innerContainer .auction { display: flex; width: 100%; margin: 0 0 2em 0 !important }
.view.auction.list .container .innerContainer .auction .image { max-width: 130px }
.view.auction.list .container .innerContainer .auction .information { padding: 0 0 0 1em }
.view.auction.list .container .innerContainer .more { height: 6.5em; padding: 2em 0 }
.view.auction.itemShow.display .grid .col.last .row.first .container .mobileFirstImage { display: block }
.view.auction.bidFormAdd .bidForm .buttons button { padding: 0.3em 1.6em }
.view.auction.userItemFavList .listWrapper > ul.items > li .imageContainer .mobileTitle, 
.view.auction.userItemBidList .listWrapper > ul.items > li .imageContainer .mobileTitle, 
.view.auction.userWonItemList .listWrapper > ul.items > li .imageContainer .mobileTitle, 
.view.auction.itemList .listWrapper > ul.items > li .imageContainer .mobileTitle, 
.view.auction.searchList .listWrapper > ul.items > li .imageContainer .mobileTitle, 
.view.auction.hotItemList .listWrapper > ul.items > li .imageContainer .mobileTitle { display: block !important; margin-bottom: 1em }
.view.auction.userItemFavList .listWrapper > ul.items > li .imageContainer .mobileTitle .bidNo, 
.view.auction.userItemBidList .listWrapper > ul.items > li .imageContainer .mobileTitle .bidNo, 
.view.auction.userWonItemList .listWrapper > ul.items > li .imageContainer .mobileTitle .bidNo, 
.view.auction.itemList .listWrapper > ul.items > li .imageContainer .mobileTitle .bidNo, 
.view.auction.searchList .listWrapper > ul.items > li .imageContainer .mobileTitle .bidNo, 
.view.auction.hotItemList .listWrapper > ul.items > li .imageContainer .mobileTitle .bidNo { font-weight: 400 }
.view.auction.userItemFavList .listWrapper > ul.items > li .imageContainer .mobileTitle a, 
.view.auction.userItemBidList .listWrapper > ul.items > li .imageContainer .mobileTitle a, 
.view.auction.userWonItemList .listWrapper > ul.items > li .imageContainer .mobileTitle a, 
.view.auction.itemList .listWrapper > ul.items > li .imageContainer .mobileTitle a, 
.view.auction.searchList .listWrapper > ul.items > li .imageContainer .mobileTitle a, 
.view.auction.hotItemList .listWrapper > ul.items > li .imageContainer .mobileTitle a { color: inherit } }

@media screen and (max-width: 480px) { }
