/* compiled by scssphp v0.7.5 on Wed, 11 Sep 2019 15:34:29 +0200 (0.1532s) */

@font-face { font-family: 'FontAwesome'; src: url('/css/templates/aroma/library/fontAwesome/fontawesome-webfont.eot?v=4.5.0'); src: url('/css/templates/aroma/library/fontAwesome/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('/css/templates/aroma/library/fontAwesome/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('/css/templates/aroma/library/fontAwesome/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('/css/templates/aroma/library/fontAwesome/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg'); font-weight: normal; font-style: normal; }

button[type="submit"]::before, 
fieldset.foldable > legend::before, 
fieldset.foldable.folded > legend::before, 
.select.input::after { font: normal normal normal 1em/1 'FontAwesome'; speak: none; text-rendering: auto; text-transform: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale }

::-webkit-input-placeholder { color: rgba(0, 0, 0, .38) }

:-moz-placeholder { color: rgba(0, 0, 0, .38); opacity: 1 }

::-moz-placeholder { color: rgba(0, 0, 0, .38); opacity: 1 }

:-ms-input-placeholder { color: rgba(0, 0, 0, .38) }
 /**
 * Route path
 */
.fieldRoutePath .labelSuffixContent { margin-bottom: 0.3em }

input#routePath { padding: 0 0 0 1px; box-sizing: border-box }

input#routePath.autoFill { border: none; background: none }

button, 
input, 
textarea, 
select, 
.input { font: inherit; max-width: 100%; letter-spacing: 0.05em; font-weight: 400 }

button, 
input:not([type="radio"]):not([type="checkbox"]):not([type="file"]), 
textarea { border: 0 none; letter-spacing: 0.05em }

input:not([type="radio"]):not([type="checkbox"]):not([type="file"]), 
textarea { padding: 0.1em 0.25em; box-shadow: none; background: none; border-bottom: 0.2em solid rgba(0, 0, 0, .12); border-radius: 0; background: #fff }
input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):focus, 
textarea:focus { border-color: #1e88e5 }

button { display: inline-block; background: none; color: #1e88e5; padding: 0; vertical-align: sub; cursor: pointer; text-transform: uppercase }
button[type="submit"]::before { content: "\f058" ' ' }
button:hover { color: #125289 }

form, 
.form { margin: 1.618em 0 }
form:first-child, 
.form:first-child { margin-top: 0 }
form:last-child, 
.form:last-child { margin-bottom: 0 }
form.inline .buttons, 
.form.inline .buttons, 
form.searchForm .buttons, 
.form.searchForm .buttons, 
form.inline .field, 
.form.inline .field, 
form.searchForm .field, 
.form.searchForm .field { display: inline-block; vertical-align: middle }
form.inline label, 
.form.inline label, 
form.searchForm label, 
.form.searchForm label { display: none }
form.inline .field, 
.form.inline .field, 
form.searchForm .field, 
.form.searchForm .field { margin-right: 1em }
form.inline .field + .field, 
.form.inline .field + .field, 
form.searchForm .field + .field, 
.form.searchForm .field + .field { margin-top: 0 }
form.inTable td button, 
.form.inTable td button { padding: 0 }
form.inTable td label, 
.form.inTable td label { display: none }
form.inTable td button + a, 
.form.inTable td button + a { position: relative; top: 0.15em }
form.marginal .buttons, 
.form.marginal .buttons { margin-top: 1.618em }
form.marginal .buttons::before, 
.form.marginal .buttons::before, 
form.marginal .buttons::after, 
.form.marginal .buttons::after { clear: both; content: ""; display: table }
form.marginal .buttons button + button:last-child, 
.form.marginal .buttons button + button:last-child { float: right }
form.marginal .field, 
.form.marginal .field { display: flex; flex-wrap: wrap; align-items: flex-start }
form.marginal .field label, 
.form.marginal .field label { float: left; width: 11em; display: block }
form.marginal .field input, 
.form.marginal .field input, 
form.marginal .field select, 
.form.marginal .field select, 
form.marginal .field textarea, 
.form.marginal .field textarea, 
form.marginal .field .input, 
.form.marginal .field .input, 
form.marginal .field .mce-tinymce, 
.form.marginal .field .mce-tinymce { width: 100%; flex: 1; min-width: 150px }
form.vertical label, 
.form.vertical label { display: block }
form.vertical input, 
.form.vertical input, 
form.vertical select, 
.form.vertical select, 
form.vertical textarea, 
.form.vertical textarea, 
form.vertical .input, 
.form.vertical .input { width: 100%; min-width: 150px }
form .hidden, 
.form .hidden { display: none }

fieldset { border-top: 1px dashed rgba(0, 0, 0, .12); margin: 1.618em 0; padding: 1em 0 }
fieldset:first-child { margin-top: 0 }
fieldset > legend { padding-right: 1.618em; margin: 0.25em 0; font-size: 0.8em; font-weight: bold; text-transform: uppercase; color: rgba(0, 0, 0, .38) }
fieldset > legend ~ * { margin-left: 1em }
fieldset.multiple .field { position: relative }
fieldset.multiple .field label { margin: 0; padding-left: 25px; width: auto }
fieldset.multiple .field input { min-width: inherit; position: absolute; left: 0; top: 0; margin: 0 0 0 5px; height: 100% }
fieldset.multiple .field + .field { margin-top: 0.2em }
fieldset.foldable > legend { display: block !important; cursor: pointer }
fieldset.foldable > legend::before { content: "\f0d7" ' ' }
fieldset.foldable.folded > * { display: none }
fieldset.foldable.folded > legend::before { content: "\f0da" ' ' }

input[type="checkbox"], 
input[type="radio"] { max-width: 1em }

label { font-weight: inherit }
label[for] { cursor: pointer }

select option { padding: 0.1em 0.25em }

textarea { padding: 0.618em; resize: none; height: 10em; min-height: 3em; border-left: 1px solid rgba(0, 0, 0, .12) }
textarea:hover { resize: vertical }

.field { position: relative; max-width: 100% }
.field + .field { margin-top: 1.618em }
@media screen and (min-width: 450px) {.field + .field { margin-top: 2em } }
.field label { margin-right: 1em; margin-bottom: 0.1em; margin-top: 0.1em; display: inline-block; color: rgba(0, 0, 0, .54); font-size: 0.9em; word-break: break-word; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto }
.field .suffixContent { width: 100%; display: block; clear: both; margin: 0.5em 0; font-style: italic; font-size: 0.9em; color: rgba(0, 0, 0, .38) }
.field.selectSuffix input { flex: 1; margin-right: 1em }
.field.selectSuffix .suffixContent { flex: 1; margin: 0 }
.field.boolean { position: relative }
.field.boolean label { padding-left: 1.9em }
.field.boolean input { position: absolute; left: 0; top: 0.18em }

.select.input { position: relative; border-right: 0.2em solid rgba(0, 0, 0, .12); background: #fff; transition: border 0.3s }
.select.input > select { background: none; border: none; -moz-appearance: none; -webkit-appearance: none; appearance: none; cursor: pointer; padding-right: 2.5em; width: 100% }
.select.input > select:focus, 
.select.input > select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000 }
.select.input::after { transition: all 0.3s; position: absolute; height: 100%; width: 2em; top: 50%; margin-top: -0.75em; right: 0; pointer-events: none }
.select.input::after { content: "\f0d7" ''; width: 2em; text-align: center; line-height: 1.5em; color: rgba(0, 0, 0, .38) }
.field.focus .select.input { border-color: #1e88e5 }
.field.focus .select.input::after { color: #1e88e5 }
 /**
 * Tree list
 */
div#treecontrol, 
div.treecontrol { border-bottom: 1px dotted #808080; color: #808080; float: left; width: auto; font-size: 0.9em; padding-bottom: 0.2em; margin-bottom: 0.4em }

ul.treeList.treeview { clear: both }
ul.treeList.treeview li { padding: 0 0 0 16px; line-height: 1.1em }
ul.treeList.treeview li .field { position: relative; display: inline-block; vertical-align: bottom }
ul.treeList.treeview li .field label { padding-left: 23px; width: auto; font-size: 0.85em; margin-top: 1px }
ul.treeList.treeview li .field input { min-width: inherit; position: absolute; left: 0; top: 0; margin: 0 0 0 5px }
ul.treeList.treeview li > a { font-size: 0.85em; display: inline-block; padding-left: 5px }
ul.treeList.treeview li ul { margin: 0 }
 /**
 * Char counter
 */
.charCounterWrapper { position: relative }
.charCounterWrapper .charCounterShow { display: block; position: absolute; top: 0; right: 0; padding: 0.1em 0.4em; font-size: 0.7em; background: rgba(0, 0, 0, .12) }
