/* compiled by scssphp v0.7.5 on Tue, 17 Sep 2019 06:36:07 +0200 (0.1898s) */

@font-face { font-family: 'FontAwesome'; src: url('/css/templates/aroma/library/fontAwesome/fontawesome-webfont.eot?v=4.5.0'); src: url('/css/templates/aroma/library/fontAwesome/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('/css/templates/aroma/library/fontAwesome/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('/css/templates/aroma/library/fontAwesome/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('/css/templates/aroma/library/fontAwesome/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg'); font-weight: normal; font-style: normal; }

#wrapper > header .controls li.seo a::before, 
#wrapper > header .controls li.frontEnd a::before, 
#wrapper > header .controls li.language a::before, 
#wrapper > header .controls li.logOut a::before, 
#wrapper > header .controls li.settings a::before, 
#wrapper > header .controls li.username a::before, 
#mainMenu li[data-navigationId="153"] > a::before, 
#mainMenu li[data-navigationId="152"] > a::before, 
#mainMenu li[data-navigationId="151"] > a::before, 
#mainMenu li[data-navigationId="149"] > a::before, 
#mainMenu li[data-navigationId="134"] > a::before, 
#mainMenu li[data-navigationId="13"] > a::before, 
#mainMenu li[data-navigationId="119"] > a::before, 
#mainMenu li[data-navigationId="120"] > a::before, 
#mainMenu li[data-navigationId="121"] > a::before, 
#mainMenu li[data-navigationId="126"] > a::before, 
#mainMenu li[data-navigationId="35"] > a::before, 
#mainMenu li[data-navigationId="52"] > a::before, 
#mainMenu li[data-navigationId="55"] > a::before, 
#mainMenu li[data-navigationId="106"] > a::before, 
#mainMenu li[data-navigationId="107"] > a::before, 
#mainMenu li[data-navigationId="108"] > a::before, 
#mainMenu li[data-navigationId="49"] > a::before, 
#mainMenu li[data-navigationId="132"] > a::before, 
#mainMenu li[data-navigationId="16"] > a::before, 
#mainMenu li[data-navigationId="50"] > a::before, 
#mainMenu li[data-navigationId="56"] > a::before, 
#mainMenu li[data-navigationId="100"] > a::before, 
#mainMenu li[data-navigationId="34"] > a::before, 
#mainMenu li[data-navigationId="43"] > a::before, 
#mainMenu li[data-navigationId="19"] > a::before, 
#mainMenu li[data-navigationId="24"] > a::before, 
#mainMenu li[data-navigationId="53"] > a::before, 
#mainMenu li[data-navigationId="10"] > a::before, 
#mainMenu li[data-navigationId="40"] > a::before, 
#mainMenu li[data-navigationId="130"] > a::before, 
#mainMenu li[data-navigationId="26"] > a::before, 
#mainMenu li[data-navigationId="15"] > a::before, 
#mainMenu li[data-navigationId="99"] > a::before, 
#mainMenu li[data-navigationId="14"] > a::before, 
#mainMenu li[data-navigationId="21"] > a::before, 
#mainMenu li[data-navigationId="104"] > a::before, 
#mainMenu li[data-navigationId="109"] > a::before, 
#mainMenu li[data-navigationId="129"] > a::before, 
#mainMenu li[data-navigationId="5"] > a::before, 
#mainMenu li[data-navigationId="25"] > a::before, 
#mainMenu li[data-navigationId="4"] > a::before, 
#mainMenu li[data-navigationId="3"] > a::before, 
#mainMenu li[data-navigationId="2"] > a::before, 
#mainMenu li[data-navigationId="114"] > a::before, 
#mainMenu li[data-navigationId="1"] > a::before, 
#mainMenu li[data-navigationId="28"] > a::before, 
#mainMenu li[data-navigationId="103"] > a::before, 
#mainMenu li[data-navigationId="0"] > a::before, 
#mainMenu li[data-navigationId="12"] > a::before, 
#mainMenu li[data-navigationId="11"] > a::before, 
#mainMenu li[data-navigationId="7"] > a::before, 
#mainMenu li[data-navigationId="131"] > a::before, 
#mainMenu li[data-navigationId="8"] > a::before, 
#mainMenu li[data-navigationId="9"] > a::before, 
#mainMenu li[data-navigationId="22"] > a::before, 
#mainMenu li[data-navigationId="48"] > a::before, 
#mainMenu li[data-navigationId="51"] > a::before, 
#mainMenu li[data-navigationId="54"] > a::before, 
#mainMenu li[data-navigationId="98"] > a::before { font: normal normal normal 1em/1 'FontAwesome'; speak: none; text-rendering: auto; text-transform: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale }

#wrapper > header { background: #212121; box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, .1); margin-bottom: 1.618em }
#wrapper > header .controls, 
#wrapper > header .logo { font-size: 2em }
#wrapper > header .container { padding: 1.618em; position: relative }
#wrapper > header .container::before, 
#wrapper > header .container::after { clear: both; content: ""; display: table }
#wrapper > header .controls { color: rgba(255, 255, 255, .7); font-weight: 300 }
#wrapper > header .controls::before, 
#wrapper > header .controls::after { clear: both; content: ""; display: table }
#wrapper > header .controls li { display: block; float: left }
#wrapper > header .controls li:hover { color: #fff }
#wrapper > header .controls li a { color: inherit }
#wrapper > header .controls li a::before { display: inline-block; vertical-align: middle }
#wrapper > header .controls li + li { margin-left: 0.618em }
#wrapper > header .controls li.seo a::before { content: "\f071"; margin-left: 0 }
#wrapper > header .controls li.frontEnd a::before { content: "\f144"; margin-left: 0 }
#wrapper > header .controls li.language { position: relative }
#wrapper > header .controls li.language a::before { content: "\f0ac"; margin-left: 0 }
#wrapper > header .controls li.language #languageSelect { background: #fff; box-shadow: 0 0.4em 1em rgba(0, 0, 0, .4); padding: 1em; font-size: 1rem; color: rgba(0, 0, 0, .87); z-index: 5; position: absolute; margin: 0; top: 100%; left: -0.5em; margin-top: 0.5em; font-size: 1rem }
#wrapper > header .controls li.language #languageSelect::before { height: 0; width: 0; border-left: 0.5em solid transparent; border-right: 0.5em solid transparent; border-bottom: 0.5em solid #fff; content: ''; display: block; position: absolute; bottom: 100%; left: 1em }
#wrapper > header .controls li.logOut a::before { content: "\f08b" }
#wrapper > header .controls li.settings a::before { content: "\f013" }
#wrapper > header .controls li.username a::before { content: "\f007" }
#wrapper > header .controls li.username .greeting { display: none }
#wrapper > header .controls li a > span, 
#wrapper > header .controls li label > span { display: none }
#wrapper > header .controls ul.edit { float: left }
#wrapper > header .controls ul.generic { float: right; margin-left: 1em }
#wrapper > header .help { background: #ed413d; position: absolute; top: 100%; right: 0; width: 100%; box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, .2); text-align: center }
#wrapper > header .help ul li { display: block; float: left; position: relative }
#wrapper > header .help ul li > a, 
#wrapper > header .help ul li > label { padding: 0.1em 1em; display: block; color: rgba(255, 255, 255, .7); font-size: 0.75em; font-weight: normal }
#wrapper > header .help ul li > a:hover, 
#wrapper > header .help ul li > label:hover { color: #fff }
#wrapper > header .help #navigationSelect { background: #fff; box-shadow: 0 0.4em 1em rgba(0, 0, 0, .4); padding: 1em; font-size: 1rem; color: rgba(0, 0, 0, .87); z-index: 5; position: absolute; margin: 0; top: 100%; right: -0.5em; margin-top: 0.5em; display: none; text-align: left }
#wrapper > header .help #navigationSelect::before { height: 0; width: 0; border-left: 0.5em solid transparent; border-right: 0.5em solid transparent; border-bottom: 0.5em solid #fff; content: ''; display: block; position: absolute; bottom: 100%; right: 1em }
#wrapper > header .logo { display: none }
@media screen and (min-width: 400px) {#wrapper > header::before, 
#wrapper > header::after { clear: both; content: ""; display: table }
#wrapper > header .controls { float: right }
#wrapper > header .controls ul.edit { float: left }
#wrapper > header .controls ul.generic { float: right }
#wrapper > header .logo { padding-right: 1em; float: left; display: block; max-width: 60% }
#wrapper > header .logo img { max-height: 1em } }
@media screen and (min-width: 650px) {#wrapper > header { margin-bottom: 0 }
#wrapper > header .controls { font-size: 1.618em }
#wrapper > header .controls .edit a, 
#wrapper > header .controls .edit label { font-size: 1em }
#wrapper > header .controls .edit a > span, 
#wrapper > header .controls .edit label > span { display: inline; margin-left: 0.618em; font-size: 0.618em }
#wrapper > header .help { right: 1.618em; width: auto } }
@media screen and (min-width: 850px) {#wrapper > header .controls ul a, 
#wrapper > header .controls ul label { font-size: 1em }
#wrapper > header .controls ul a > span, 
#wrapper > header .controls ul label > span { display: inline; margin-left: 0.618em; font-size: 0.618em } }

#mainMenu li[data-navigationId="153"] > a > span, 
#mainMenu li[data-navigationId="152"] > a > span, 
#mainMenu li[data-navigationId="151"] > a > span, 
#mainMenu li[data-navigationId="149"] > a > span, 
#mainMenu li[data-navigationId="134"] > a > span, 
#mainMenu li[data-navigationId="13"] > a > span, 
#mainMenu li[data-navigationId="119"] > a > span, 
#mainMenu li[data-navigationId="120"] > a > span, 
#mainMenu li[data-navigationId="121"] > a > span, 
#mainMenu li[data-navigationId="126"] > a > span, 
#mainMenu li[data-navigationId="35"] > a > span, 
#mainMenu li[data-navigationId="52"] > a > span, 
#mainMenu li[data-navigationId="55"] > a > span, 
#mainMenu li[data-navigationId="106"] > a > span, 
#mainMenu li[data-navigationId="107"] > a > span, 
#mainMenu li[data-navigationId="108"] > a > span, 
#mainMenu li[data-navigationId="49"] > a > span, 
#mainMenu li[data-navigationId="132"] > a > span, 
#mainMenu li[data-navigationId="16"] > a > span, 
#mainMenu li[data-navigationId="50"] > a > span, 
#mainMenu li[data-navigationId="56"] > a > span, 
#mainMenu li[data-navigationId="100"] > a > span, 
#mainMenu li[data-navigationId="34"] > a > span, 
#mainMenu li[data-navigationId="43"] > a > span, 
#mainMenu li[data-navigationId="19"] > a > span, 
#mainMenu li[data-navigationId="24"] > a > span, 
#mainMenu li[data-navigationId="53"] > a > span, 
#mainMenu li[data-navigationId="10"] > a > span, 
#mainMenu li[data-navigationId="40"] > a > span, 
#mainMenu li[data-navigationId="130"] > a > span, 
#mainMenu li[data-navigationId="26"] > a > span, 
#mainMenu li[data-navigationId="15"] > a > span, 
#mainMenu li[data-navigationId="99"] > a > span, 
#mainMenu li[data-navigationId="14"] > a > span, 
#mainMenu li[data-navigationId="21"] > a > span, 
#mainMenu li[data-navigationId="104"] > a > span, 
#mainMenu li[data-navigationId="109"] > a > span, 
#mainMenu li[data-navigationId="129"] > a > span, 
#mainMenu li[data-navigationId="5"] > a > span, 
#mainMenu li[data-navigationId="25"] > a > span, 
#mainMenu li[data-navigationId="4"] > a > span, 
#mainMenu li[data-navigationId="3"] > a > span, 
#mainMenu li[data-navigationId="2"] > a > span, 
#mainMenu li[data-navigationId="114"] > a > span, 
#mainMenu li[data-navigationId="1"] > a > span, 
#mainMenu li[data-navigationId="28"] > a > span, 
#mainMenu li[data-navigationId="103"] > a > span, 
#mainMenu li[data-navigationId="0"] > a > span, 
#mainMenu li[data-navigationId="12"] > a > span, 
#mainMenu li[data-navigationId="11"] > a > span, 
#mainMenu li[data-navigationId="7"] > a > span, 
#mainMenu li[data-navigationId="131"] > a > span, 
#mainMenu li[data-navigationId="8"] > a > span, 
#mainMenu li[data-navigationId="9"] > a > span, 
#mainMenu li[data-navigationId="22"] > a > span, 
#mainMenu li[data-navigationId="48"] > a > span, 
#mainMenu li[data-navigationId="51"] > a > span, 
#mainMenu li[data-navigationId="54"] > a > span, 
#mainMenu li[data-navigationId="98"] > a > span { display: none; margin-left: 0.5em }
@media screen and (min-width: 650px) {#mainMenu li[data-navigationId="153"] > a > span, 
#mainMenu li[data-navigationId="152"] > a > span, 
#mainMenu li[data-navigationId="151"] > a > span, 
#mainMenu li[data-navigationId="149"] > a > span, 
#mainMenu li[data-navigationId="134"] > a > span, 
#mainMenu li[data-navigationId="13"] > a > span, 
#mainMenu li[data-navigationId="119"] > a > span, 
#mainMenu li[data-navigationId="120"] > a > span, 
#mainMenu li[data-navigationId="121"] > a > span, 
#mainMenu li[data-navigationId="126"] > a > span, 
#mainMenu li[data-navigationId="35"] > a > span, 
#mainMenu li[data-navigationId="52"] > a > span, 
#mainMenu li[data-navigationId="55"] > a > span, 
#mainMenu li[data-navigationId="106"] > a > span, 
#mainMenu li[data-navigationId="107"] > a > span, 
#mainMenu li[data-navigationId="108"] > a > span, 
#mainMenu li[data-navigationId="49"] > a > span, 
#mainMenu li[data-navigationId="132"] > a > span, 
#mainMenu li[data-navigationId="16"] > a > span, 
#mainMenu li[data-navigationId="50"] > a > span, 
#mainMenu li[data-navigationId="56"] > a > span, 
#mainMenu li[data-navigationId="100"] > a > span, 
#mainMenu li[data-navigationId="34"] > a > span, 
#mainMenu li[data-navigationId="43"] > a > span, 
#mainMenu li[data-navigationId="19"] > a > span, 
#mainMenu li[data-navigationId="24"] > a > span, 
#mainMenu li[data-navigationId="53"] > a > span, 
#mainMenu li[data-navigationId="10"] > a > span, 
#mainMenu li[data-navigationId="40"] > a > span, 
#mainMenu li[data-navigationId="130"] > a > span, 
#mainMenu li[data-navigationId="26"] > a > span, 
#mainMenu li[data-navigationId="15"] > a > span, 
#mainMenu li[data-navigationId="99"] > a > span, 
#mainMenu li[data-navigationId="14"] > a > span, 
#mainMenu li[data-navigationId="21"] > a > span, 
#mainMenu li[data-navigationId="104"] > a > span, 
#mainMenu li[data-navigationId="109"] > a > span, 
#mainMenu li[data-navigationId="129"] > a > span, 
#mainMenu li[data-navigationId="5"] > a > span, 
#mainMenu li[data-navigationId="25"] > a > span, 
#mainMenu li[data-navigationId="4"] > a > span, 
#mainMenu li[data-navigationId="3"] > a > span, 
#mainMenu li[data-navigationId="2"] > a > span, 
#mainMenu li[data-navigationId="114"] > a > span, 
#mainMenu li[data-navigationId="1"] > a > span, 
#mainMenu li[data-navigationId="28"] > a > span, 
#mainMenu li[data-navigationId="103"] > a > span, 
#mainMenu li[data-navigationId="0"] > a > span, 
#mainMenu li[data-navigationId="12"] > a > span, 
#mainMenu li[data-navigationId="11"] > a > span, 
#mainMenu li[data-navigationId="7"] > a > span, 
#mainMenu li[data-navigationId="131"] > a > span, 
#mainMenu li[data-navigationId="8"] > a > span, 
#mainMenu li[data-navigationId="9"] > a > span, 
#mainMenu li[data-navigationId="22"] > a > span, 
#mainMenu li[data-navigationId="48"] > a > span, 
#mainMenu li[data-navigationId="51"] > a > span, 
#mainMenu li[data-navigationId="54"] > a > span, 
#mainMenu li[data-navigationId="98"] > a > span { display: inline-block } }

#mainMenu li { position: relative }
#mainMenu li[data-navigationId="153"] > a::before { content: "\f0cb" }
#mainMenu li[data-navigationId="152"] > a::before { content: "\f0cb" }
#mainMenu li[data-navigationId="151"] > a::before { content: "\f0cb" }
#mainMenu li[data-navigationId="149"] > a::before { content: "\f0cb" }
#mainMenu li[data-navigationId="134"] > a::before { content: "\f0cb" }
#mainMenu li[data-navigationId="13"] > a::before { content: "\f0a2" }
#mainMenu li[data-navigationId="119"] > a::before { content: "\f0cb" }
#mainMenu li[data-navigationId="120"] > a::before { content: "\f1b0" }
#mainMenu li[data-navigationId="121"] > a::before { content: "\f0e0" }
#mainMenu li[data-navigationId="126"] > a::before { content: "\f1c3" }
#mainMenu li[data-navigationId="35"] > a::before, 
#mainMenu li[data-navigationId="52"] > a::before, 
#mainMenu li[data-navigationId="55"] > a::before, 
#mainMenu li[data-navigationId="106"] > a::before, 
#mainMenu li[data-navigationId="107"] > a::before, 
#mainMenu li[data-navigationId="108"] > a::before { content: "\f03a" }
#mainMenu li[data-navigationId="49"] > a::before, 
#mainMenu li[data-navigationId="132"] > a::before { content: "\f03e" }
#mainMenu li[data-navigationId="16"] > a::before, 
#mainMenu li[data-navigationId="50"] > a::before, 
#mainMenu li[data-navigationId="56"] > a::before, 
#mainMenu li[data-navigationId="100"] > a::before { content: "\f067" }
#mainMenu li[data-navigationId="34"] > a::before { content: "\f201" }
#mainMenu li[data-navigationId="43"] > a::before { content: "\f0c7" }
#mainMenu li[data-navigationId="19"] > a::before, 
#mainMenu li[data-navigationId="24"] > a::before, 
#mainMenu li[data-navigationId="53"] > a::before { content: "\f040" }
#mainMenu li[data-navigationId="10"] > a::before { content: "\f0d6" }
#mainMenu li[data-navigationId="40"] > a::before, 
#mainMenu li[data-navigationId="130"] > a::before { content: "\f0d1" }
#mainMenu li[data-navigationId="26"] > a::before { content: "\f145" }
#mainMenu li[data-navigationId="15"] > a::before, 
#mainMenu li[data-navigationId="99"] > a::before { content: "\f277" }
#mainMenu li[data-navigationId="14"] > a::before { content: "\f1b2" }
#mainMenu li[data-navigationId="21"] > a::before { content: "\f1b3" }
#mainMenu li[data-navigationId="104"] > a::before { content: "\f0e4" }
#mainMenu li[data-navigationId="109"] > a::before, 
#mainMenu li[data-navigationId="129"] > a::before { content: "\f07a" }
#mainMenu li[data-navigationId="5"] > a::before, 
#mainMenu li[data-navigationId="25"] > a::before { content: "\f14e" }
#mainMenu li[data-navigationId="4"] > a::before { content: "\f009" }
#mainMenu li[data-navigationId="3"] > a::before { content: "\f15b" }
#mainMenu li[data-navigationId="2"] > a::before, 
#mainMenu li[data-navigationId="114"] > a::before { content: "\f0c0" }
#mainMenu li[data-navigationId="1"] > a::before { content: "\f084" }
#mainMenu li[data-navigationId="28"] > a::before { content: "\f0ad" }
#mainMenu li[data-navigationId="103"] > a::before { content: "\f03e" }
#mainMenu li[data-navigationId="0"] > a::before { content: "\f0c9" }
#mainMenu li[data-navigationId="12"] > a::before { content: "\f291" }
#mainMenu li[data-navigationId="11"] > a::before { content: "\f06b" }
#mainMenu li[data-navigationId="7"] > a::before, 
#mainMenu li[data-navigationId="131"] > a::before { content: "\f0d6" }
#mainMenu li[data-navigationId="8"] > a::before { content: "\f0c0" }
#mainMenu li[data-navigationId="9"] > a::before { content: "\f02d" }
#mainMenu li[data-navigationId="22"] > a::before { content: "\f249" }
#mainMenu li[data-navigationId="48"] > a::before { content: "\f16a" }
#mainMenu li[data-navigationId="51"] > a::before { content: "\f1ea" }
#mainMenu li[data-navigationId="54"] > a::before { content: "\f00a" }
#mainMenu li[data-navigationId="98"] > a::before { content: "\f128" }
#mainMenu li a { display: block; max-width: 13.65em; padding: 0.5em 1.6em; box-sizing: border-box; color: #bdbdbd; word-break: break-word; word-wrap: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto }
#mainMenu li a::before { font-size: 1em !important; vertical-align: middle; position: relative; top: -0.08em }
#mainMenu li.selected > a, 
#mainMenu li.active > a, 
#mainMenu li:hover > a { color: #fff }
#mainMenu > ul li.active > ul, 
#mainMenu > ul li.selected > ul { display: block; background: #3c3c3c; padding: 0.5em 0.8em }
#mainMenu > ul ul { border-left: 1px solid rgba(255, 255, 255, .12); max-width: none; padding-left: 1em; margin-bottom: 0.5em; display: none; font-size: 0.9em }
#mainMenu > ul ul a { text-align: left }
#mainMenu > ul > li.active > a, 
#mainMenu > ul > li.selected > a { position: relative; background: #ef4036; box-shadow: 0.1em 0 0.1em #ef4036 }
#mainMenu > ul > li.active > a span:after, 
#mainMenu > ul > li.selected > a span:after { content: ''; display: block; position: absolute; bottom: -0.6em; right: -0.2em; z-index: -1; width: 0.7em; height: 0.89em; background: #ab150e; box-shadow: 0.09em 0 0.09em #ef4036; -webkit-transform: rotate(35deg); -moz-transform: rotate(35deg); transform: rotate(35deg) }
#mainMenu > ul > li.active > a:after, 
#mainMenu > ul > li.selected > a:after { content: ''; display: block; position: absolute; top: 0; right: -0.361em; z-index: 999; width: 0.35em; height: 100%; background: #ef4036; box-shadow: 0.1em 0 0.1em #ef4036 }
#mainMenu .dropdown, 
#mainMenu .foldup { display: none }
@media screen and (min-width: 400px) {#mainMenu a { padding: 0.618em 0 }
#mainMenu a::before { font-size: 1.618em !important } }
@media screen and (min-width: 650px) {#mainMenu a { text-align: left }
#mainMenu a::before { font-size: 1em !important; width: 1.5em; display: inline-block; text-align: center }

#mainMenu > ul ul { position: static } }

#languageSelect, 
#navigationSelect { display: none }

body { min-height: 100% }
body > .tooltip { display: none }

html { height: 100% }

#adminMessage { position: absolute; z-index: 9997; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center }
#adminMessage .background { position: absolute; z-index: 9998; top: 0; left: 0; width: 100%; height: 100%; background: #fff; opacity: 0.7 }
#adminMessage .container { position: relative; z-index: 9999; max-width: 80%; max-height: 80%; padding: 2em; background: #fff; box-shadow: 0 0 0.3em #ccc; overflow-y: scroll }
#adminMessage .container .messageList .message > h1 { padding-bottom: 0.5em; margin-bottom: 0.5em; border-bottom: 1px solid #e8e8e8 }
#adminMessage .container .messageList .message .content { margin-bottom: 1.5em }
#adminMessage .container .messageList .message .content h1 { font-size: 1.6em; opacity: 0.9 }
#content { overflow: hidden; flex: 1; padding: 1.618em 1em }
#content .layout.misc, 
#content .layout.introMisc, 
#content .layout.miscOpposite { display: flex; justify-content: space-between; flex-wrap: wrap }
#content .layout.misc > aside { width: 33.3333333333% }
#content .layout.misc > main { flex: 1; margin-left: 1.618em }
#content .layout.introMisc > #intro { width: 100%; border-bottom: 3px double rgba(0, 0, 0, 0.12); margin-bottom: 1.618em }
#content .layout.introMisc > aside { width: 33.3333333333% }
#content .layout.introMisc > main { flex: 1; margin-left: 1.618em }
#content .layout.miscOpposite > aside { width: 33.3333333333% }
#content .layout.miscOpposite > main { flex: 1; margin-right: 1.618em }
@media screen and (min-width: 650px) {#content { padding: 1.618em } }

#aside > .view > article, 
#intro > .view > article, 
#main > .view > article, 
#aside > .view > aside, 
#intro > .view > aside, 
#main > .view > aside, 
#aside > .view > form, 
#intro > .view > form, 
#main > .view > form, 
#aside > .view > section, 
#intro > .view > section, 
#main > .view > section { background: #fafafa; color: rgba(0, 0, 0, .87); box-shadow: 0 0.05em 0.1em rgba(0, 0, 0, .4); margin-top: 1.618em; margin-bottom: 1.618em; padding: 1em; overflow: auto }
#aside > .view > article::before, 
#intro > .view > article::before, 
#main > .view > article::before, 
#aside > .view > aside::before, 
#intro > .view > aside::before, 
#main > .view > aside::before, 
#aside > .view > form::before, 
#intro > .view > form::before, 
#main > .view > form::before, 
#aside > .view > section::before, 
#intro > .view > section::before, 
#main > .view > section::before, 
#aside > .view > article::after, 
#intro > .view > article::after, 
#main > .view > article::after, 
#aside > .view > aside::after, 
#intro > .view > aside::after, 
#main > .view > aside::after, 
#aside > .view > form::after, 
#intro > .view > form::after, 
#main > .view > form::after, 
#aside > .view > section::after, 
#intro > .view > section::after, 
#main > .view > section::after { clear: both; content: ""; display: table }
@media screen and (min-width: 650px) {#aside > .view > article, 
#intro > .view > article, 
#main > .view > article, 
#aside > .view > aside, 
#intro > .view > aside, 
#main > .view > aside, 
#aside > .view > form, 
#intro > .view > form, 
#main > .view > form, 
#aside > .view > section, 
#intro > .view > section, 
#main > .view > section { padding: 1.618em } }
#aside > .view > article.tools, 
#intro > .view > article.tools, 
#main > .view > article.tools, 
#aside > .view > aside.tools, 
#intro > .view > aside.tools, 
#main > .view > aside.tools, 
#aside > .view > form.tools, 
#intro > .view > form.tools, 
#main > .view > form.tools, 
#aside > .view > section.tools, 
#intro > .view > section.tools, 
#main > .view > section.tools { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center; justify-content: flex-start; width: 100%; padding: 1em 1.618em }
#aside > .view > article.tools .tool, 
#intro > .view > article.tools .tool, 
#main > .view > article.tools .tool, 
#aside > .view > aside.tools .tool, 
#intro > .view > aside.tools .tool, 
#main > .view > aside.tools .tool, 
#aside > .view > form.tools .tool, 
#intro > .view > form.tools .tool, 
#main > .view > form.tools .tool, 
#aside > .view > section.tools .tool, 
#intro > .view > section.tools .tool, 
#main > .view > section.tools .tool { width: auto; padding: 0 3% 0 0; vertical-align: middle }
#aside > .view > article > div.tools, 
#intro > .view > article > div.tools, 
#main > .view > article > div.tools, 
#aside > .view > aside > div.tools, 
#intro > .view > aside > div.tools, 
#main > .view > aside > div.tools, 
#aside > .view > form > div.tools, 
#intro > .view > form > div.tools, 
#main > .view > form > div.tools, 
#aside > .view > section > div.tools, 
#intro > .view > section > div.tools, 
#main > .view > section > div.tools { display: table; width: 100%; padding: 1em 0; margin-bottom: 1.618em; border-top: 1px solid rgba(0, 0, 0, 0.12); border-bottom: 1px solid rgba(0, 0, 0, 0.12) }
#aside > .view > article > div.tools .tool, 
#intro > .view > article > div.tools .tool, 
#main > .view > article > div.tools .tool, 
#aside > .view > aside > div.tools .tool, 
#intro > .view > aside > div.tools .tool, 
#main > .view > aside > div.tools .tool, 
#aside > .view > form > div.tools .tool, 
#intro > .view > form > div.tools .tool, 
#main > .view > form > div.tools .tool, 
#aside > .view > section > div.tools .tool, 
#intro > .view > section > div.tools .tool, 
#main > .view > section > div.tools .tool { display: table-cell; padding: 0 3% 0 0; vertical-align: middle }
#aside > .view > article > div.tools .tool > form, 
#intro > .view > article > div.tools .tool > form, 
#main > .view > article > div.tools .tool > form, 
#aside > .view > aside > div.tools .tool > form, 
#intro > .view > aside > div.tools .tool > form, 
#main > .view > aside > div.tools .tool > form, 
#aside > .view > form > div.tools .tool > form, 
#intro > .view > form > div.tools .tool > form, 
#main > .view > form > div.tools .tool > form, 
#aside > .view > section > div.tools .tool > form, 
#intro > .view > section > div.tools .tool > form, 
#main > .view > section > div.tools .tool > form { margin: 0 }
#aside > .view > table, 
#intro > .view > table, 
#main > .view > table { width: 100% }

#wrapper { display: flex; justify-content: space-between; flex-direction: column; min-height: 100vh }
#wrapper > footer { background: #212121; color: rgba(255, 255, 255, .7); padding: 1.618em; box-shadow: inset 0 1em 0.5em rgba(0, 0, 0, .2); font-size: 0.7em; text-align: center; display: flex; justify-content: space-between; flex-wrap: wrap }
#wrapper > footer::before, 
#wrapper > footer::after { clear: both; content: ""; display: table }
#wrapper > footer a { color: inherit; font-weight: bold }
#wrapper > footer a:hover { color: #fff }
#wrapper > footer > * { flex-grow: 1; padding: 1.618em }
@media screen and (min-width: 750px) {#wrapper > footer .contact { text-align: left }
#wrapper > footer .copyright { text-align: right } }
#wrapper > .container { display: flex; flex-grow: 1 }
#wrapper > .container > aside { margin: 0; max-width: 33.3333333333%; float: left; background: #424242; padding: 1.618em 0; overflow: visible }
