/* compiled by scssphp v0.7.5 on Mon, 27 May 2019 13:48:58 +0200 (0.4949s) */

@font-face { font-family: 'FontAwesome'; src: url("/css/templates/default/library/fontAwesome/fontawesome-webfont.eot?v=4.5.0"); src: url("/css/templates/default/library/fontAwesome/fontawesome-webfont.eot?#iefix&v=4.5.0") format('embedded-opentype'), url("/css/templates/default/library/fontAwesome/fontawesome-webfont.woff2?v=4.5.0") format('woff2'), url("/css/templates/default/library/fontAwesome/fontawesome-webfont.woff2?v=4.5.0") format('woff'), url("/css/templates/default/library/fontAwesome/fontawesome-webfont.ttf?v=4.5.0") format('truetype'), url("/css/templates/default/library/fontAwesome/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format('svg'); font-weight: normal; font-style: normal; }
 /**
 * Fallback colors
 * - tiptool: http://colorhunt.co/
 */
 /*!
 * ArgoLib
 */
 /**
 * Mixins
 */
.button--antiman { background: none; border: none; height: 60px }

.button--antiman.button--inverted, 
.button--antiman.button--inverted-alt { -webkit-transition: color 0.3s; transition: color 0.3s; -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1) }

.button--antiman > span { padding-left: 0.35em }

.button--antiman::before, 
.button--antiman::after { content: ''; z-index: -1; border-radius: inherit; pointer-events: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-backface-visibility: hidden; -webkit-transition: -webkit-transform 0.3s, opacity 0.3s; transition: transform 0.3s, opacity 0.3s; -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1) }

.button--antiman::before { border: 2px solid #37474f; opacity: 0; -webkit-transform: scale3d(1.2, 1.2, 1); transform: scale3d(1.2, 1.2, 1) }

.button--antiman.button--border-thin::before { border-width: 1px }

.button--antiman.button--inverted::before { border-color: #7986cb }

.button--antiman.button--inverted-alt::before { border-color: #3f51b5 }

.button--antiman::after { background: #fff }

.button--antiman.button--inverted::after { background: #7986cb }

.button--antiman.button--inverted-alt::after { background: #3f51b5 }

.button--antiman.button--inverted:hover { color: #7986cb }

.button--antiman.button--inverted-alt:hover { color: #3f51b5 }

.button--antiman:hover::before { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1) }

.button--antiman:hover::after { opacity: 0; -webkit-transform: scale3d(0.8, 0.8, 1); transform: scale3d(0.8, 0.8, 1) }

body { counter-reset: fieldset }

button { border: none; padding: 0.5em 1em; background: #fff; color: #000; font-family: Open Sans, sans-serif; cursor: pointer; transition: all ease 0.3s }
button:hover { background: #fff }
button:focus { outline: 1px solid #fff }

fieldset { border: 0; margin-bottom: 1.25em; padding: 0; padding-top: 0.5em }
fieldset.multiple { border: 0; margin: 0; padding: 0 }
fieldset.multiple .field { float: left; clear: left; position: relative }
fieldset.multiple label { padding-left: 1.25em; font-weight: normal }
fieldset.multiple input { position: absolute; top: 0.5em; left: 0 }
fieldset legend { position: relative }
fieldset legend::before { counter-increment: fieldset; content: counter(fieldset); position: absolute; left: -34px; background: white; padding: inherit; border-radius: 50%; height: 10px; width: 10px; line-height: 8px; text-align: center; border: 2px solid #e1e1e1; padding: 8px; top: -5px; color: #e1e1e1 }

input.radio { border: 0; background: none }
input.text, 
input.secret, 
input.password { padding: 0.25em 0.3em; font-family: Open Sans, sans-serif; font-size: 0.8em }

select { padding: 0.55em 0.3em }

textarea { min-width: 250px; overflow: auto; padding: 0.25em 0.3em; font-family: Open Sans, sans-serif; font-size: 0.8em }

[placeholder]::-webkit-input-placeholder { color: #999; font-size: inherit }
[placeholder]:-moz-placeholder { color: #999; font-size: inherit }
[placeholder]::-moz-placeholder { color: #999; font-size: inherit }
[placeholder]:-ms-input-placeholder { color: #999; font-size: inherit }

label { font-weight: bolder; cursor: pointer }

legend { font-size: 18px; font-weight: bold; line-height: 1 }

form { display: block }
form::after { clear: both; content: ""; display: table }
form .buttons { overflow: hidden; margin: 1em 0 }
form .buttons button { text-transform: uppercase }
form .error { color: #b30015 }
form .error input { border-color: #b30015 }
form .errorField input, 
form .errorField select, 
form .errorField textarea { background: #b30015 }
form .field { .line-height: 2 }
form.marginal .field { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; margin-top: 0.5em; flex-flow: row wrap }
@media screen and (max-width: 640px) {form.marginal .field { flex-flow: column wrap } }
form.marginal .field label { flex: 1 1 20% }
form.marginal .field input, 
form.marginal .field select, 
form.marginal .field textarea { flex: 1 1 70% }
form.marginal .multiple { margin-bottom: -2em }
form.marginal .multiple label { width: auto; float: none }
form.marginal .multiple .field { margin-bottom: 0; position: relative; top: -2em; left: 11.5em }
form.marginal .result label { width: auto; float: none; font-weight: normal }
form.marginal .result.error { border: 1px solid; margin: 10px 0px; padding: 15px 10px 15px 50px; background-repeat: no-repeat; background-position: 10px center; color: #d8000c; background-color: #ffbaba; background-image: url('/images/icons/exclamation.png') }

.filterForm form { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-flow: row wrap }
@media screen and (max-width: 768px) {.filterForm form { flex-flow: column wrap } }
.filterForm form .field { float: none }
@media screen and (max-width: 768px) {.filterForm form .field { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex }
.filterForm form .field label { min-width: 30% }
.filterForm form .field select { min-width: 70% } }
