/* compiled by scssphp v0.7.5 on Wed, 29 Dec 2021 15:34:19 +0100 (0.0027s) */

.view.listStatusCheck dl dt { clear: left; float: left; width: 16em }
.view.listStatusCheck dl dd { float: left; width: 11em }
.view.listStatusCheck dl dd span.online { color: #00b233 }
.view.listStatusCheck dl dd span.error { font-weight: 700; color: #e80000 }
