#page {
	min-width: 100%;
}

#branding, #nav, #foot, form button, .noPrint, nav, #cookieNotification, footer {
	display: none;
}

label {
	line-height: 1.5;
}

input {
	&.text, &.secret {
		border: 0;
	}
}

select, textarea {
	border: 0;
}

#container, #middle, #col2, .col2_content {
	width: auto;
	overflow: visible;
}

#top, #col1, #col3 {
	display: none;
}

#middle {
	#col1, #col3 {
		display: none;
	}
}

#bordertop_black_col2_content, #borderbottom_col2_content {
	display: none;
}